:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark *));

* {
  user-select: none;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

button {
  cursor: pointer;
}
body::-webkit-scrollbar {
  width: 0px !important;
}

::-webkit-scrollbar {
  width: 5px !important;
  height: 6px !important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
}


/* Tailwind-compatible overrides */
input[type="date"]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: auto;
  height: auto;
  opacity: 0;
  cursor: pointer;
}

span.country-name {
  color: gray;
}

/* Ensure inputs retain your style when autofilled */
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
select:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #2e3135 !important;
  /* Gray-700 from Tailwind */
  -webkit-box-shadow: 0 0 0 1000px #FFFFFF inset !important;
  /* White background */
  transition: background-color 5000s ease-in-out 0s;
}


.projectName {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.custom-checkbox {
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #cbd5e0;
  /* Tailwind's gray-300 */
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
  position: relative;
  transition: all 0.2s ease-in-out;
}

.custom-checkbox:hover {
  border-color: #a0aec0;
  /* Tailwind's gray-400 */
}

.custom-checkbox:checked {
  background-color: #767677;
  /* Tailwind's blue-500 */
  border-color: #767677;
}

.custom-checkbox:checked::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}
